* {
    padding: 0;
    margin: 0;
    
}

div {
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form {
    width: 400px;
    border: solid 1px #ebebeb;
    padding: 5rem;

}

button {
    padding-top: 2rem;
}