<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
</head>
<body>

    <main>
        <form >

            
            <legend>Subcategoria</legend>
            <label for="storeId"> Store id</label><br>
            <input type="text" name="storeId" id="storeId"><br>

            <label for="subCatName"> Nombre de la subcategoria</label><br>
            <input type="text" name="subCatName" id="subCatName"><br>

            <label for="icon"> Icono </label><br>
            <input type="text" name="icon" id="icon"><br>

            <label for="iconType"> Tipo de icono </label><br>
            <input type="text" name="iconType" id="iconType"><br>


            <button id="saveBtn" class="btn waves-effect waves-light">Save</button>

        </form>



    </main>

    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
          apiKey: "AIzaSyAxC8AU39-HsD8Avy1zqBSb0sxcE8IXqv4",
          authDomain: "tiendas-a18ea.firebaseapp.com",
          databaseURL: "https://tiendas-a18ea-default-rtdb.firebaseio.com",
          projectId: "tiendas-a18ea",
          storageBucket: "tiendas-a18ea.appspot.com",
          messagingSenderId: "744577627820",
          appId: "1:744577627820:web:356e2a0c4f274bf50f9109",
          measurementId: "G-XC4EW57PM6"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>


    <script src="./categories.js"></script>
</body>
</html>